<div class="contents row">
  <div class="illustration">
    <div class="status-text">あなたの<br>BOZU</div>
    <% if @total_count >= 5 %>
      <div class="status-image">
        <%= image_tag("bouzu3.png") %>
      </div>
      <div class="status-description">バンド坊主<br>〜あなたは好奇心の塊魂〜</div>
    <% elsif @total_count >= 3 %>
      <div class="status-image">
        <%= image_tag("bouzu2.png") %>
      </div>
      <div class="status-description">大人坊主<br>〜時より経験が成長させる〜</div>
    <% elsif @total_count >= 1 %>
      <div class="status-image">
        <%= image_tag("bouzu4.png") %>
      </div>
      <div class="status-description">中坊主<br>〜3日も続けたあなたは天才〜</div>
    <% else %>
      <div class="status-image">
        <%= image_tag("bouzu1.png") %>
      </div>
      <div class="status-description">坊主<br>〜内なる力〜</div>
    <% end %>

    <p class="highlight"><%= @total_count %>Micca達成</p>

    <p><b>坊主の成長に必要なMICCAは、<br>3日経過&ふりかえりを3日分書くと<br>貯まります</b></p>

    <% @goals.each do |goal| %>
      <div class="goal-card">
        <h2 class="goal-card-title"><br><strong><%= goal.title %></strong><br>Miccaチャレンジ</h2>
        <div class="goal-card-bubble">
          <p class="goal-card-description">3日間、<%= goal.description %>を最低限必ずやり遂げます！</p>
        </div>
        <p class="goal-card-start-date"><%= goal.start_date.strftime('%Y年%m月%d日') %>~<%= (goal.start_date + 2.days).strftime('%Y年%m月%d日') %></p>
        <span class="goal-card-category"><%= goal.category %></span>
        <div class="goal-card-actions">
          <%= link_to '編集', edit_goal_path(goal.id), class: 'edit-button' %>
        </div>

        <% goal.reflections.each do |reflection| %>
          <div class="reflection-card">
            <p class="reflection-card-day"><%= reflection.day_number %>日目</p>
            <p class="reflection-card-content">ふりかえり:<%= reflection.content %></p>
          </div>
        <% end %>

   <% if goal.reflections.count < 3 %>
  <% if goal.reflections.empty? && Time.current >= goal.start_date %>
    <%= link_to 'ふりかえりをかく', new_goal_reflection_path(goal_id: goal.id), class: 'btn btn-primary' %>
  <% elsif goal.reflections.count == 1 && Time.current >= goal.start_date + 1.day %>
    <%= link_to 'ふりかえりをかく', new_goal_reflection_path(goal_id: goal.id), class: 'btn btn-primary' %>
  <% elsif goal.reflections.count == 2 && Time.current >= goal.start_date + 2.days %>
    <%= link_to 'ふりかえりをかく（Micca達成）', new_goal_reflection_path(goal_id: goal.id), class: 'btn btn-primary' %>
  <% else %>
    <p>今日はお疲れ様。また明日。</p>
  <% end %>
<% end %>




        <% if goal.reflections.count == 3 %>
         <p>おめでとうございます！<br>見事三日坊主が完了しました！<br>Miccaが１増えました！<br></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>




  .illustration {
    text-align: center;
    margin-top: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 追加 */
  }

    .status-image {
    max-width: 150px; /* 画像の最大幅を指定して調整します */
    margin: 0 auto; /* 画像を中央に配置するためのマージン指定 */
  }

  .status-image img {
    width: 100%;
    height: auto;
  }

  .status-text {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .status-description {
    font-size: 14px;
  }

  
   .goal-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 追加 */
  }

  .goal-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .goal-card-start-date,
  .goal-card-end-date,
  .goal-card-description,
  .goal-card-date { /* 調整部分 */
    font-size: 14px;
    margin-bottom: 5px;
  }

  .goal-card-category {
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid #000;
  }

   .goal-card-date {
    color: #888;
  }
  
  .edit-button {
    background-color: #FFD700;
    color: #000; /* 文字を黒に設定 */
    font-size: 12px; /* フォントサイズを小さく設定 */
    padding: 4px 8px; /* パディングを小さく設定 */
    border: 1px solid #000; /* 外側に黒い線を設定 */
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .goal-card {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding:  10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 350px;
  margin: 10px auto;
}

.goal-card-title {
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

.goal-card-bubble {
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid #57C3E9;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
}


.goal-card-description {
  font-size: 15px;
  line-height: 1.5;
}



.goal-card-start-date {
  font-size: 15px;
}

.goal-card-category {
   background-color: #6C8EBF;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #000;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
.highlight {
  font-weight: bold;
  color: red;
  font-size: 20px;
}

</style>
