<div class="contents row">
  <div class="left-column">
    <p><%= @nickname %>さんのチャレンジ一覧</p>
    <% @goal.each do |goal| %>
      <div class="goal-card">
        <h2 class="goal-card-title">Micca!ゴール:<%= goal.title %></h2>
        <p class="goal-card-start-date">開始日: <%= goal.start_date.strftime('%Y年%m月%d日') %></p>
        <p class="goal-card-description">説明:<%= goal.description %></p>
        <span class="goal-card-category"><%= goal.category %></span>

        <div class="goal-card-actions">
          <%= link_to '編集', edit_goal_path(goal.id), class: 'edit-button' %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="right-column">
    
    <div class="count-box">
      <h4>Micca BOZE 達成数</h4>
      <% count = 0 %> 
      <% @goal.each do |goal| %>
        <% if (Time.current.to_date - goal.start_date) >= 3 %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <p class="count"><%=  count %> Micca!</p>
    </div>
    
<div class="illustration">
  <div class="status-text">今のあなたのステータス</div>
  <% if count >= 5 %>
    <div class="status-image">
      <%= image_tag("bouzu3.png") %>
    </div>
    <div class="status-description">坊主DEバンド</div>
  <% elsif count >= 3 %>
    <div class="status-image">
      <%= image_tag("bouzu2.png") %>
    </div>
    <div class="status-description">大人坊主</div>
  <% else %>
    <div class="status-image">
      <%= image_tag("bouzu1.png") %>
    </div>
    <div class="status-description">坊主</div>
  <% end %>
</div>

  </div>
</div>

<style>
  .contents {
    display: flex;
  }

  .left-column {
    width: 50%;
    padding-right: 20px;
  }

  .right-column {
    width: 50%;
    padding-left: 20px;
  }

  .count-box {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .count-box h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .count {
    font-size: 48px;
    font-weight: bold;
  }

  .illustration {
    text-align: center;
    margin-top: 20px;
   background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 追加 */
  }

  
   .goal-card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative; /* 追加 */
  }

  .goal-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .goal-card-start-date {
    color: #888;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .goal-card-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .goal-card-category {
    background-color: #3498db;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid #000;

  }

 .edit-button {
  background-color: #f1c40f;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
  position: absolute; /* 追加 */
  top: 100px; /* 追加 */
  right: 10px; /* 追加 */
 }


</style>
