<!DOCTYPE html>
<html>
<head>
  <title>３日間チャレンジ投稿</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      padding: 20px;
      margin-top: 50px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .form-group input[type="text"],
    .form-group textarea,
    .form-group select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }

    .form-group .upload-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #57C3E9; 
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .form-group .upload-button:hover {
      background-color: #2980b9;
    }

    .form-group .uploaded-image {
      margin-top: 10px;
      display: none;
    }

    .form-group .uploaded-image img {
      max-width: 200px;
      border-radius: 5px;
    }

    .form-group .submit-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #57C3E9; 
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
    }

    .form-group .submit-button:hover {
     background-color: #57C3E9; 
    }

   .container h1 {
      text-align: center;
      font-weight: bold;
    }

    b {
      font-weight: bold;
      color: #666; /* ユーザー名の色を合わせる */
    }

    .goal-card {
      background-color: #f2f2f2;
      border-radius: 5px;
      padding: 10px;
      margin-top: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      max-width: 350px;
      margin: 10px auto;
    }

    .goal-card-title {
      font-size: 20px;
      line-height: 1.3;
      margin: 0;
    }

    .goal-card-bubble {
      background-color: transparent;
      padding: 10px 15px;
      border: 2px solid #57C3E9;
      border-radius: 10px;
      position: relative;
      margin-bottom: 15px;
    }

    .goal-card-description {
      font-size: 15px;
      line-height: 1.5;
    }

    .goal-card-start-date {
      font-size: 15px;
    }

    .goal-card-category {
      background-color: #6C8EBF;
      color: #fff;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 5px;
      display: inline-block;
      border: 1px solid #000;
    }

 
  </style>


</head>
<body>
  <div class="container">
    <h1>MICCA BOZU宣言</h1>
    <br>
    <%= form_with(model: @goal, url: goals_path,  html: {multipart: true}) do |f| %>
      <div class="form-group">
        <b><%= "#{current_user.nickname}の" if current_user %></b>
        <%= f.text_field :title, placeholder: "ジョギング", required: true %>
        <%= f.label :"Miccaチャレンジでは3日間" %>
        <%= f.text_area :description, rows: 5, placeholder: "雨が降っていようが、着替えて玄関まで行って靴を履くところまで\n\n※行動をなるべく最小単位にすると動きやすいですよ※",required: true %>
        <%= f.label :"を、最低限必ずやり遂げます！" %>
      </div>

      <div class="form-group">
        <%= f.label :カテゴリー %>
        <%= f.select :category, options_for_select(['健康', '学習', '趣味', '仕事', 'その他']), { include_blank: true }, { required: true, class: 'category-select' } %>
      </div>

      <div class="form-group">
        <%= f.label :チャレンジ開始日（本日のみ） %>
        <%# 本日の日付を表示 %>
        <%= f.date_field :start_date, value: Time.now.strftime('%Y-%m-%d'), required: true, max: Time.now.strftime('%Y-%m-%d') ,min: Time.now.strftime('%Y-%m-%d') %>
      </div>

      <div class="form-group">
        <%# 2日後の日付を表示（データベースには保存しない） %>
        <label for="goal_end_date">チャレンジ終了日（ふりかえり日）</label>
        <input type="date" id="goal_end_date" value="<%= (Time.now + 2.days).strftime('%Y-%m-%d') %>" readonly>
      </div>

      <div class="form-group">
        <%= f.submit '宣言して気合いを入れる', class: 'submit-button' %>
      </div>
    <% end %>
  </div>
</body>
</html>










